/* Definimos las Custom properties */
:root {
    /* Colores */
    --negro: #000;
    --azul-selection: #cce2ff;
    --azul-corpo: #0072ca;
    --amarillo-corpo: #f6bb00;

    /* Tipografía */
    --tipo-principal: 'Roboto', sans-serif;
    --tipo-secundaria: Verdana;
}



/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
    * {
        animation: none !important;
        transition: none !important;
    }
}

/* Reseteamos los margin y paddings de todas las etiquetas */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

*::before,
*::after {
    display: block;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
    max-width: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
    display: inline;
}

/* Quitamos los puntos de los <li> */
li {
    list-style-type: none;
}

/* Configuramos anclas suaves */
html {
    scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

/* Configuramos el texto que seleccionamos */
::selection {
    background-color: var(--azul-selection);
    color: var(--negro);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
    font-family: inherit;
    font-size: inherit;
    hyphens: auto;
    background-color: transparent;
    color: inherit;
    display: block;
    appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
    width: 100%;
    display: block;
    fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
    font-size: 100%;
    min-height: 100vh;
    font-family: var(--tipo-principal);
    color: var(--negro);
    hyphens: auto;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.title-section{
    display: flex;
    margin: 60px auto;
    justify-content: center;
    font-size: 1.875rem;
    
}

